body {
	
	.nav-item a, a.nav-item:hover {
		color: #FA4616;
	}
	
	.v-spinner {
		width: 60px;
		margin: 0 auto;
	}
	
	.notification {
		text-align: center;
	}
	
	.tag.is-info {
		margin-right: 2px;
	}
	
	th {
		text-align: center;
	}
	
	td {
		text-align: center;
		
		span {
			font-size: 12px;
			font-weight: bold;
			
			&.winner {
				background: #23d160;
			    color: #fff;
			    padding: 3px 10px;
			    border-radius: 15px;
			}
			
			&.loser {
				color: #ff3860;
				text-decoration: line-through;
			}
		}
	}
	
	.tabs.is-boxed a {
		color: #fff;
		
		&:hover {
			background: none;
		}
	}
	
	.tabs li.is-active a {
		color: #3273dc;
		
		&:hover {
			background: #fff;
		}
	}
	
	.nav-item a.is-active, a.nav-item.is-active {
		color: #fff;
	}
	
	.select:after {
		border-color: #3273dc;
	}
	
	.select select.is-active, .select select.is-focused, .select select:active, .select select:focus {
		border-color: #3273dc; 
	}
	
	.card-footer {
		padding: 10px;
		
		#savePicksBtn {
			display: block;
			width: 100%;
			
			i {
				position: relative;
				top: 11px;
			}
		}
	}
	
	.hero {
		background: url(../img/banner.png) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
		.title {
			color: #fff;
		}
		
		.subtitle {
			color: #FA4616;
		}
	}
}

@media(max-width: 999px) {
	.container {
		padding: 0 10px;
	}
}